.container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 20% 40% 40%;
    grid-template-areas:
    "navbar header header header"
    "navbar info map weather"
    "navbar latest-update post-progress post-reach";
}
.navbar{
    grid-area: navbar;
    margin: 20px;
    border-radius: 20px;
    background-color: #3D41D7;
}
.header{
    grid-area: header;
    margin: 20px;
    border-radius: 20px;
    background-color: indianred;
}
.info{
    grid-area: info;
    margin: 20px;
    border-radius: 20px;
    background-color: yellowgreen;
}
.map{
    grid-area: map;
    margin: 20px;
    border-radius: 20px;
    background-color: hotpink;
}
.weather{
    grid-area: weather;
    margin: 20px;
    border-radius: 20px;
    background-color: orange;
}
.latest-update{
    grid-area: latest-update;
    margin: 20px;
    border-radius: 20px;
    background-color: firebrick;
}
.post-progress{
    grid-area: post-progress;
    margin: 20px;
    border-radius: 20px;
    background-color: greenyellow;
}
.post-reach{
    grid-area: post-reach;
    margin: 20px;
    border-radius: 20px;
    background-color: orangered;
}